@use "variable.scss" as *;

@mixin pos-abs(
	$top:     0%,
	$left:    0%, 
	$z-index: 0, 
	$width:   100%, 
	$height:  100%
) {
  left:     $left;
  top:      $top;
  width:    $width;
  height:   $height;
  z-index:  $z-index;
  position: absolute;
}

@mixin pos-fixed(
	$top:     0%,
	$left:    0%, 
	$z-index: 0, 
	$width:   100%, 
	$height:  100%
) {
  left:     $left;
  top:      $top;
  width:    $width;
  height:   $height;
  z-index:  $z-index;
  position: fixed;
}

@mixin pos-sticky(
	$top:     0%,
	$left:    0%, 
	$z-index: 0, 
	$width:   100%, 
	$height:  100%
) {
  left:     $left;
  top:      $top;
  width:    $width;
  height:   $height;
  z-index:  $z-index;
  position: sticky;
}

@mixin dis-flex(
  $align-items:     unset,
  $justify-content: unset,
  $gap:             unset,
  $flex-direction:  unset,
  $flex-wrap:       unset,
  $flex-grow:       unset,
  $flex-shrink:     unset
) {
  align-items:     $align-items;
  justify-content: $justify-content;
  gap:             $gap;
  flex-direction:  $flex-direction;
  flex-wrap:       $flex-wrap;
  flex-grow:       $flex-grow;
  flex-shrink:     $flex-shrink;
  display: flex;
}

@mixin text-overflow($width: 100%, $text-overflow: ellipsis) {
  width:         $width;
  text-overflow: $text-overflow;
  white-space:   nowrap;
  overflow:      hidden;
}